
font-family: 'Barrio', cursive;
font-family: 'Bahiana', cursive;
font-family: 'Oswald', sans-serif; 
font-family: 'Reenie Beanie' cursive;


body {
  padding: 0px;
  margin: 0px;
  font-family: 'Oswald', sans-serif;
}

.container-fluid div {
  /*background-color: #333;*/
  border-left: 10px solid white;
  border-right: 10px solid white;
}

.sticky-top {
	position: fixed;
	background-color: white;
	background-size: 100%;
	background-position: center;
	padding-bottom: 0px;
	width: 100%;

}

h1 {
	font-family: 'Reenie Beanie', cursive;
	font-size: 65px;
	text-align: left;
	background-color: white;
}

button {
	align-items: left;
}
h2 {
	font-family: 'Oswald', cursive;
	font-size: 20px;
	text-align: center;
	padding: 25px;
	padding-top: 5px;
}

img {
	width: 100%;
	height: 300px;
	object-fit: cover;
	padding: 15px;
	padding-bottom: 5px;
}

ul {
	position: fixed;
	background-color: white;
	font-family: 'Oswald', cursive;
	font-size: 15px;
}
nav {
	background-color:white;
	width: 100%;
}
.navbar {
	background-color:white;
}

main {
	padding: 150px 0 0 0 !important;
}

.image-div {
	width: 100%;
	height: 500px;
	background-size: cover;
	background-position: center;
	padding: 15px;
	padding-bottom: 5px;
	font-family: 'Oswald';
	font-size: 40px;
	text-align: center;
	padding-top: 390px;
	color: white;
}

.boston {
	background-image: url('../images/Boston.jpg');
}

.seattle {
	background-image: url('../images/Seattle.jpg');
}

.chicago {
	background-image: url('../images/Chicago.jpg');
}
.san_diego {
	background-image: url('../images/San_Diego.jpg');
}
.santorini {
	background-image: url('../images/Santorini.jpg');
}
.rhodes {
	background-image: url('../images/Rhodes.jpg');
}
.crete{
	background-image: url('../images/Crete.jpg')
}
.symi {
	background-image: url('../images/Symi.jpg');
}
.athens {
	background-image: url('../images/Athens.jpg');
}
.prague {
	background-image: url('../images/Prague.jpg');
}

@media screen and (max-width: 768px) {
	h1 {
		font-size: 55px;
	}
}
@media screen and (max-width: 500px){
	h1 {
		font-size: 30px;
	}
}